body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

#mapid {
    height: 700px;
    width: 700px;
    float: left;
}

#extraDiv {
    float: left;
    padding: 20px;
    height: 350px;
    width: 350px;
}

#wrapper {
    overflow: hidden;
}
